*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 3rem;
}

.sudoku-container{
    margin: auto;
    margin-top: 3rem;
    width: 25vw;
    height: 47vh;
    display: flex;
    flex-wrap: wrap;
}

.sudoku-innerbox{
    width: calc(100% / 3);
    height: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.sudoku-cell{
    width: calc(100% / 3);
    height: calc(100% / 3);
    border: 0.5px solid rgb(125, 125, 125);
    outline: none;
    font-size: 1.3rem;
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 2rem;
}

.btn{
    width: 8rem;
    height: 2rem;
}

.solve-btn:hover{
    background-color: rgb(197, 197, 197);
}

.warning{
    color: red;
    text-align: center;
    font-size: 1.1rem;
    display: none;
}

.algo-filled{
    color: blue;
}

@media screen and (min-width: 1024px){
    .sudoku-container{
        width: 27vw;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .sudoku-container{
        width: 47vw;
    }
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px){
    .sudoku-container{
        width: 67vw;
    }
}